.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #75acce;
    color: white;
}

.navbar-logo img {
    height: 50px;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar-links li {
    margin: 0;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar-links a:hover {
    text-decoration: underline;
}