.table{
    border:3px solid red;
    border-radius: 10px;

}
.row{
    background-color: rgb(16, 139, 139);
    border: 2px solid red;
    border-radius: 10px;
}
.tbody{
    background-color: rgb(157, 245, 151);
    border: 2px solid red;
    border-radius: 10px;
}