.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.name{
  color: #61dafb;
  font-size: 2rem;
}
.lpu{
  color: #e02020;
  font-size: 2rem;

}
/* form */
/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
}

form {
  background: #9cecdc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border: 2px solid red;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #f60404;
  border-radius: 4px;
  margin-bottom: 10px;
}

input[type="button"] {
  background-color: #5cb85c;
  color: rgb(7, 1, 1);
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #4cae4c;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #33c5df;
}

th {
  background-color: #cece55;
}

tr:hover {
  background-color: #6dd3c7;
}
/* stateful component */

/* StatefulComponent.css */
